#!/usr/bin/env bash

# Note: to configure a Cloudera Spark installation see:
# https://www.cloudera.com/documentation/data-science-workbench/latest/topics/cdsw_spark_configuration.html#config_files
# Notice the mechanics is the same as for any Spark installation, just point SPARK_CONF_DIR to where ever your
# spark-defaults.conf and spark-env.sh is located
#
# This gist might help you get started fast:
# https://gist.github.com/oza/a4ce3737335a80e1c18c

# JOSIMTEXT ENVIORNMENT VARIBALES
# - SPARK_HOME              Spark which you would like to use in JoSimText.
# - SPARK_CONF_DIR          Optional directory where the Spark configuration lives.
#                           (Default: $SPARK_HOME/conf)